# Visual studio related
*.vs

# Prerequisites
*.d

# Compiled Object folder
VulkanRenderer/x64/
bin/

# Compiled Object files
*.slo
*.lo
*.o
#*.obj DO NOT REMOVE OBJ MODEL FILE

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll DO NOT REMOVE GLFW&OTHER IMPORTANT DYNAMIC LIBRARY

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib DO NOT REMOVE GLFW&OTHER IMPORTANT LIBRARY

# Executables
*.exe
*.out
*.app